.selected {
  --background: grey;
  color: #fff;
}

ion-label {
  cursor: pointer;
  @apply --my-mixin;
}

.copy {
  cursor: pointer;
}

.popover {
  font-size: 11px;
}

ion-button {
  margin-left: 10px;
}
