/*
iiif-explorer-item {
  display: block;
} */

/* iiif-explorer-item ion-label {
  cursor: pointer;
  padding: 4px 0 4px 0;
} */

/* iiif-explorer-item .selected {
  background-color: grey;
  color: #fff;
} */
